.inStockButton, .outOfStockButton {
    background-color: black;
    color: white;
    width: 75px;
    height: 35px;
    margin: .25em;
    border: 2px white solid;
    text-decoration: none;
    outline: none;
}

.outOfStockButton {
    opacity: 50%;
}



.inStockButton:hover {
    background-color: white;
    color: black;
}

