body {
    background-color: black;
    color: white;
    font-family: Roboto Mono;
}

.productListWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.productListContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productLinkStyle {
    text-decoration: none;
}